<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/Main history.png">
         <run
               class="org.eib.cron.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eib.cron.application.Perspective"
            icon="icons/Main history.png"
            id="Query_To_Excel_Cron.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
    <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eib.cron.application.views.CronView"
            icon="icons/History.png"
            id="org.eib.cron.application.views.CronView"
            name="Cron Manager">
      </view>
      <view
         allowMultiple="true"
         class="org.eib.cron.application.views.LightweightConsoleView"
         id="org.eib.cron.application.views.LightweightConsoleView"
         name="Log">
	  </view>
	  <view
            category="Log4jViewerEclipseProject.Logging"
            class="com.log4jviewer.ui.views.LogView"
            id="log4jviewer.ui.views.LogView"
            name="Log4j-Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="top"
               id="org.eib.cron.application.views.CronView">
         </view>
         <!--  
         <view
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="bottom"
               id="org.eib.cron.application.views.LightweightConsoleView">
         </view>
         <view
               id="log4jviewer.ui.views.LogView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>-->
          <view
               closeable="true"
               id="log4jviewer.ui.views.LogView"
               minimized="false"
               moveable="true"
               ratio="1.0f"
               relationship="stack"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>      
   </extension>            
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Query_To_Excel_Cron.application"
            name="Query To Excel Cron">
         <property
               name="appName"
               value="Query To Excel Cron">
         </property>
         <property
               name="windowImages"
               value="icons/Main history.png">
         </property>
      </product>
   </extension>   
</plugin>
